.NavbarComponent {
  background-color: black;
  border-bottom: 3px solid #ffc500;
}

.NavbarComponent-brand {
  color: #ffc500;
  font-weight: bold;
  font-size: 1.5em;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #ffc500;
}
.footer {
  background-color: black;
  color: white;
  border-top: 3px solid #ffc500;
}

.footer .text-center {
  padding: 10px 0;
}
